<section id="when">
  <div class="card-title">
    <h2>Schedule</h2>
  </div>
  <style>
    td {
      padding-right: 24px;
    }
  </style>
  <table>
    <tbody>
      <tr>
        <td>Pickup</td>
        <td>4:00pm</td>
      </tr>
      <tr>
        <td>Picnic</td>
        <td>5:30pm</td>
      </tr>
      <tr>
        <td>Hike</td>
        <td>6:30pm</td>
      </tr>
      <tr>
        <td>Sunset</td>
        <td>7:46pm</td>
      </tr>
      <tr>
        <td>Finish Hike</td>
        <td>8:30pm</td>
      </tr>
      <tr>
        <td>Dropoff</td>
        <td>9:15pm</td>
      </tr>
    </tbody>
  </table>
</section>